<%- include("../partials/head") %>
    <h1>Login</h1>
    <form action="/login" method="post">
        <p> <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter your Username">
        </p>
        <p> <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your Password">
        </p>
        <button type="submit">Login</button>
    </form>
    <%- include("../partials/footer") %>